@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap');

body{
  margin: 0;
  display: grid;
  grid-template-rows: 75px auto;
  min-height: 100vh;
  background: #fafafa;
  font-family: Cabin;
}

.header{
  &__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    width:100%;
    background: #DEE3E4;
  }
  &__escuela{
    font-size:10px;
  }
  &__universidad{
    &-logo{
      height: 70px;

    }

  }
  &__curso{
    font-size:10px;
    float: rigth;
  }
}

.information{
  margin: 0 32px;
  &__devs{
    &-container{
      padding-left:10px;

    }
    &-title{
      font-size:20px;
    }
  }
  &__dev{
    margin: 4px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-photo{
      height: 40px;
      border-radius: 50%;
      margin: 0 8px;
    }
  }
}

section{
  min-height: calc(100vh - 75px);
  height: calc(100vh - 75px);
  max-height: calc(100vh - 75px);
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 30% auto;
}

select{

}

label{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input{
  height: 15px;
  border-radius: 8px;
  text-align: right;
  padding: 3px;
  &.button{
    height: 32px;
  }
}

select{
  height: 30px;
  border-radius: 8px;
  padding: 3px;
  min-width: 300px;
}

